/* From Uiverse.io by SelfMadeSystem */
.loader {
  width: 2.4em;
  height: 2.4em;
  display: inline-block;
  vertical-align: middle;
}

.loader path {
  stroke: var(--teal-500);
  stroke-width: 0.6px;
  fill: none;
  animation: dashArray 4s ease-in-out infinite,
    dashOffset 4s linear infinite;
}

@keyframes dashArray {
  0%   { stroke-dasharray: 0 1 359 0; }
  50%  { stroke-dasharray: 0 359 1 0; }
  100% { stroke-dasharray: 359 1 0 0; }
}

@keyframes dashOffset {
  0%   { stroke-dashoffset: 365; }
  100% { stroke-dashoffset: 5; }
}
